
@{
    ViewBag.Title = "ConfirmDeposit";
}
<div id="body">
    <h2>Amount was deposited successfully :)</h2>
    <a href="https://localhost:44332/CheckingAccount/Index"><button class="btn btn-primary">Go back</button></a>
</div>
